*{
    font-family: 'Handjet', cursive;
    font-family: 'Mulish', sans-serif;
    color: white;
}
*:focus{
    outline: none;
}
.row:after {
    content: "";
    display: flex;
    flex-wrap: wrap;
    clear: both;
}
.centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centerText{
    text-align: center;
}
html{
    background: url(../img/home/FondoDesk.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
::placeholder{
    opacity: 1;
}
::-webkit-input-placeholder {
    color: #ffffff;
}
input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Home page */
#logo{
    width: 30%;
    margin-top: 4%;
}
#homeText{
    margin-top: 8%;
    margin-left: 34%;
    margin-right: 34%;
    font-weight: bold;
    margin-bottom: 3.5%;
    font-size: 18px;
}
/* input del formulario */
.homeInput{
    padding: 5px;
    font-size: 16px;
    background-color:transparent;
    color: #ffffff;
    border-style: solid;
    border-radius: 3px;
    width: 35%;
    margin: auto;
    display: block;
    font-size: 18px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    border-width: 1.5px;
    border-color: #ffffff;
}
.homeInputError{
    border-color: red;
    border-width: 2px;
}
#errorText{
    visibility:hidden;
    color: red;
}
/* Botón */
#homeButton{
    margin-top: 2%;
    width: 36.5%;
    text-align: center;
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: #00bde0;
    color: #ffffff;
    padding-top: .7%;
    padding-bottom: .5%;
    border-radius: 4px; 
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    border-width: 0;
}
#homeButton:hover{
    background-color: #03aac8;
}
#searchIcon{
    margin: 0%;
    padding: 0%;
    width: auto;
    float: right;
    margin-right: 2%;
}
/* Texto de abajo */
#bottomText{
    margin-top: 3.5%;
    margin-left: 34%;
    margin-right: 34%;
    margin-bottom: 3.5%;
}
/* Página de resultados */
/* Texto bajo el logo */
#txtLogo{
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 2%;
    font-size: 20px;
    padding-left: 16%;
}
.FormResultado{
    margin-left: 0%;
    float: left;
}
.mainInfoRow{
    margin-top: 3.5%;
}
.ciudadInfo{
    margin-bottom: 0%;
    margin-top: 0%;
    text-align: left;
    font-size: 15px;
    padding-top: 0;
    margin-left: 50%;
}
/* Estructura principal de recuadros */
.recuadros{
    -webkit-box-shadow: 0px 0px 14px 8px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 14px 8px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 14px 8px rgba(0,0,0,0.19);
    border-radius: 6px;
    background-color: #487882;
    text-align: center;
    height:50vh;
}
.column-main {
    margin-left: 3%;
    margin-right: .5%;
    width: 56%;
    float: left;
    position: relative;
}
.column-top5{
    margin-left: .5%;
    margin-right: 4%;
    width: 35%;
    float: left;
    position: relative;
}
.column2{
    float: left;
    position: relative;
}
.colum2-60{
    width: 70%;
}
.colum2-40{
    width: 30%;
}
/* Buscador en datos */
.buscadorDatos{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    border-style: solid;
    border-width: 0;
    font-size: 13px;
    opacity: .8;
    top: 20%;
    position: absolute;
}
.btnBuscar{
    margin-top: 4%;
    background-color: transparent;
    border-style: solid;
    border-width: 0;
    opacity: .8;
    cursor: pointer;
}
/* Información del clima */
.heightRow{
    height: 80%;
}
/* Lineas verticales */
.vlPos1 {
    margin-left: 33%;
}
.vl{
    border-left: 2px solid white;
    margin-top: 2.5%;
    height: 70%;
    position: absolute;
    opacity: .5;
}
.vlPos2 {
    margin-left: 66%;
}
/* Titulo de secciones */
.tituloSec{
    padding-top: 3%;
}
/* Clima ahora */
.mainClimaCol{
    width: 33%;
    float: left;
    position: relative;
    height: 100%;
}

/* Clima hoy horas */
.hoyClimaCol{
    width: 33%;
    float: left;
    position: relative;
    height: 100%;
}
/* Clima proximos dias */
.nextClimaCol{
    width: 33%;
    float: left;
    position: relative;
    height: 100%;
}
